html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
}

.container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  height: 80px;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .header {
    height: auto;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .header .container {
    flex-wrap: wrap;
  }
}

.header__left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .header .navigation__nav {
    display: none;
  }
}

.header__mobile-nav {
  display: none;
}
@media (max-width: 768px) {
  .header__mobile-nav {
    display: flex;
  }
}

.header__mobile-link {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #212529;
  font-size: 16px;
}

.header__mobile-link--left {
  padding: 12px 24px;
  background-color: #E8FEC5;
}

.header__mobile-link--right {
  padding: 12px 24px;
  background-color: #F5FEE7;
}

.footer {
  background-color: #F8F9FA;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 24px;
}
@media (max-width: 768px) {
  .footer .container {
    flex-wrap: wrap;
  }
}

.footer__top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 4px;
  border-top: 1px solid #DEE2E6;
  width: 100%;
}

.footer p {
  text-align: center;
  color: #6C757D;
  letter-spacing: 0.05em;
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
}

.navigation__logo {
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.044em;
  padding: 8px 12px;
  color: #212529;
  text-decoration: none;
}

.navigation__nav {
  display: flex;
  gap: 40px;
}

.navigation__nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #212529;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 8px;
}

.navigation__icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  padding: 12px;
  border-radius: 4px;
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}
.navigation__icon-btn .bi {
  font-size: 24px;
}

/*# sourceMappingURL=all.css.map */
