@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

button {
  border: none; /* 去除預設邊框 */
  background: none; /* 去除預設背景 */
  padding: 0; /* 清除預設內距 */
  margin: 0; /* 清除預設外距 */
  font: inherit; /* 繼承全域字體設定 */
  color: inherit; /* 繼承文字顏色 */
  cursor: pointer; /* 滑鼠移入時顯示為可點擊的手型 */
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-mobile {
  text-align: center;
  text-decoration: none;
  color: #212529;
  font-size: 16px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar__nav {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #212529;
  padding: 12px 0;
  gap: 40px;
}
.navbar__link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 12px 0;
}
.navbar__link-product {
  padding: 12px 24px;
  background-color: #E8FEC5;
}
.navbar__link-story {
  padding: 12px 24px;
  background-color: #F5FEE7;
}
.navbar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}
.navbar__icon .bi {
  font-size: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
}
.btn--lg {
  padding: 12px 24px;
  min-height: 48px;
}
.btn--sm {
  padding: 8px 16px;
  min-height: 40px;
}
.btn--primary {
  background-color: #C0FA73;
  color: #212529;
}
.btn--primary:hover {
  color: #477A11;
}
.btn--primary:focus {
  box-shadow: 0 0 0 3px rgba(192, 250, 115, 0.4);
  color: #477A11;
}
.btn--primary:disabled {
  opacity: 0.4;
}
.btn--filled {
  background-color: #212529;
  color: #FFFFFF;
}
.btn--filled:hover {
  background-color: #495057;
}
.btn--filled:focus {
  box-shadow: 0 0 0 3px rgba(73, 80, 87, 0.1);
  background-color: #495057;
}
.btn--filled:disabled {
  opacity: 0.4;
}
.btn--neutral {
  border: 1px solid #212529;
  color: #212529;
}
.btn--neutral:hover {
  background-color: #212529;
  color: #FFFFFF;
}
.btn--neutral:focus {
  box-shadow: 0 0 0 3px rgba(73, 80, 87, 0.1);
  background-color: #212529;
  color: #FFFFFF;
}
.btn--neutral:disabled {
  opacity: 0.4;
}

.icon-btn {
  position: relative;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.icon-btn--lg {
  padding: 12px;
  gap: 8px;
  min-height: 48px;
  font-size: 24px;
}
.icon-btn--sm {
  padding: 8px;
  gap: 8px;
  min-height: 40px;
  font-size: 20px;
}
.icon-btn__badge {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  color: #212529;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #C0FA73;
  border-radius: 1000px;
}
.icon-btn__badge--lg {
  transform: translate(0%, 0%);
}
.icon-btn__badge--sm {
  transform: translate(60%, -10%);
}
.icon-btn--transparent {
  border: 2px solid transparent;
}
.icon-btn--transparent:hover {
  color: #57A203;
}
.icon-btn--transparent:focus {
  background-color: #F5FEE7;
}
.icon-btn--transparent:disabled {
  opacity: 0.4;
}
.icon-btn--outlined {
  border: 2px solid #E9ECEF;
}
.icon-btn--outlined:hover {
  color: #57A203;
  background-color: #F5FEE7;
  border-color: #C0FA73;
}
.icon-btn--outlined:focus {
  background-color: #F5FEE7;
  border-color: #C0FA73;
}
.icon-btn--outlined:disabled {
  opacity: 0.4;
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-product__img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.card-product__img:hover, .card-product__img:active {
  opacity: 0.8;
}
.card-product--lg {
  max-width: 636px;
}
.card-product--md {
  max-width: 300px;
}
.card-product--sm {
  max-width: 150px;
}
.card-product .card-product__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card-product h5 {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-size: 20px;
}
.card-product h6 {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.card-product p {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.card-image {
  position: relative;
}
.card-image__img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.card-image__img:hover, .card-image__img:active {
  opacity: 0.8;
}
.card-image__badge {
  z-index: 1;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  color: #57A203;
  background-color: #F5FEE7;
}
.card-image--lg {
  max-width: 422px;
}
.card-image--sm {
  max-width: 300px;
}

.card-category {
  position: relative;
  color: #FFFFFF;
}
.card-category__img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.card-category__img:hover, .card-category__img:active {
  opacity: 0.8;
}
.card-category--lg {
  max-width: 422px;
}
.card-category--sm {
  max-width: 164px;
}
.card-category__overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  gap: 8px;
}
.card-category__overlay:hover h3,
.card-category__overlay:hover h6, .card-category__overlay:active h3,
.card-category__overlay:active h6 {
  color: #C0FA73;
}
.card-category h3 {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-size: 28px;
}
.card-category--lg p {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-size: 24px;
}
.card-category h6, .card-category--sm p {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.link-design {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link {
  display: inline-flex;
  gap: 4px;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  padding: 10px 0;
}
.link--primary {
  color: #57A203;
}
.link--primary .link__text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-size: 16px;
  border-bottom: 1px solid #57A203;
}
.link--primary:hover {
  color: #477A11;
}
.link--primary:hover .link__text {
  border-bottom: 1px solid #477A11;
}
.link--primary:focus {
  color: #477A11;
}
.link--primary:focus .link__text {
  border-bottom: 2px solid #477A11;
}
.link--primary:disabled {
  opacity: 0.4;
}
.link--neutral {
  color: #212529;
}
.link--neutral .link__text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.link--neutral:hover {
  color: #6C757D;
}
.link--neutral:focus {
  color: #212529;
  border-bottom: 2px solid #212529;
}
.link--neutral:disabled {
  opacity: 0.4;
}

.option-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.option-nav {
  display: flex;
  gap: 5px;
}

.option {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-align: center;
}
.option__input {
  position: absolute;
  opacity: 0;
}
.option--text-only {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #DEE2E6;
}
.option--text-only:hover {
  border: 1px solid #6C757D;
}
.option--text-only:has(.option__input:checked) {
  border: 1px solid #212529;
}
.option--text-only:has(.option__input:disabled) {
  opacity: 0.4;
  pointer-events: none;
}
.option--text-img {
  display: flex;
  flex-direction: column;
  color: #6C757D;
  gap: 4px;
}
.option--text-img .option__img {
  width: 64px;
  border: 1px solid transparent;
}
.option--text-img:hover {
  opacity: 0.8;
}
.option--text-img:has(.option__input:checked) {
  color: #212529;
}
.option--text-img:has(.option__input:checked) .option__img {
  border-color: #212529;
}
.option--text-img:has(.option__input:disabled) {
  opacity: 0.4;
  pointer-events: none;
}

header {
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
}
@media (max-width: 768px) {
  header .navbar-desktop {
    padding: 12px;
  }
}
@media (max-width: 768px) {
  header .navbar-desktop .navbar__nav {
    display: none;
  }
}
header .navbar-mobile .navbar__nav {
  display: none;
}
@media (max-width: 768px) {
  header .navbar-mobile .navbar__nav {
    width: 100%;
    display: flex;
    gap: 0;
    padding-bottom: 0;
  }
  header .navbar-mobile .navbar__nav > li {
    flex: 1;
  }
}

footer {
  background-color: #F8F9FA;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 24px;
}
@media (max-width: 768px) {
  footer .container {
    padding: 32px 12px;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  footer .navbar-desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  footer .navbar__nav {
    gap: 0;
    flex-direction: column;
  }
}
footer .copyright {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 4px;
  border-top: 1px solid #DEE2E6;
  width: 100%;
}
@media (max-width: 768px) {
  footer .copyright {
    padding-top: 32px;
  }
}
footer p {
  text-align: center;
  color: #6C757D;
  letter-spacing: 0.05em;
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
}

/*# sourceMappingURL=all.css.map */
