@use 'variables' as v;
@use 'mixins' as m;


.navigation__logo {
    font-family: v.$font-logo;
    font-weight: v.$font-weight-bold;
    font-size: v.$h5;
    line-height: v.$line-height-label;
    letter-spacing: 0.044em;
    padding: v.$spacing-xs v.$spacing-s;
    color: v.$neutral-900;
    text-decoration: none;
}


.navigation__nav {
    display: flex;
    gap: v.$spacing-2xl;
}

.navigation__nav-link {
    text-decoration: none;
    font-weight: v.$font-weight-medium;
    font-size: v.$label-md;
    line-height: v.$line-height-label;
    letter-spacing: 0.05em;
    color: v.$neutral-900;
    padding-top: v.$spacing-s;
    padding-bottom: v.$spacing-s;
    gap:v.$spacing-xs;
}

.navigation__icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    padding: v.$spacing-s;
    border-radius: v.$radius-sm; //沒有radius-xs用sm代替
    color: v.$neutral-900;
    text-decoration: none;
    cursor: pointer;

    .bi {
        font-size: 24px;
    }
}