// Grid
//type stretch寬度100%
$container-max-width: 1296px; 
$gutter-desktop:24px;
//$margin-desktop:312px;
$gutter-mobile:16px;
$margin-mobile:12px;

//Color-Primary
$primary-100:#F5FEE7;
$primary-200:#E8FEC5;
$primary-300:#C0FA73;
$primary-400:#57A203;
$primary-500:#477A11;

//Color-Neutral
$neutral-0:#FFFFFF;
$neutral-100:#F8F9FA;
$neutral-200:#E9ECEF;
$neutral-300:#DEE2E6;
$neutral-400:#CED4DA;
$neutral-500:#ADB5BD;
$neutral-600:#6C757D;
$neutral-700:#495057;
$neutral-800:#343A40;
$neutral-900:#212529;

//Color-Functional
$danger-100:#FCF1F1;
$danger-200:#EBA7A7;
$danger-300:#D74F4F;

$success-100:#EFF8F4;
$success-200:#9AD1BA;
$success-300:#36A375;

$warning-100:#FEF6EC;
$warning-200:#F9C588;
$warning-300:#F38B12;

$info-100:#EEF5FC;
$info-200:#97C3ED;
$info-300:#3087DB;

//Color-Text
$text-primary:$neutral-900;
$text-secondary:$neutral-600;
$text-muted:$neutral-500;
$text-highlight:$neutral-400;
$text-on-dark:$neutral-0;

//Typography
$font-family: 'Noto Sans TC', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Typography - Display
$display-1: 64px;
$display-2: 48px;

// Typography - Headings
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

// Typography - Label
$label-lg: 20px;
$label-md: 16px;
$label-sm: 14px;
$label-xs: 12px;

// Typography - Paragraph
$paragraph-lg: 20px;
$paragraph-md: 16px;

// Line Height
$line-height-heading: 120%;
$line-height-label: 150%;

// Letter Spacing
$letter-spacing: 5%;

//Spacing
$spacing-xxs:4px;
$spacing-xs:8px;
$spacing-s:12px;
$spacing-m:16px;
$spacing-l:24px;
$spacing-xl:32px;
$spacing-2xl:40px;
$spacing-3xl:48px;
$spacing-4xl:56px;
$spacing-5xl:64px;
$spacing-6xl:80px;

//Radius
$radius-sm:$radius-xs;
$radius-md:$radius-sm;
$radius-rounded:1000px;

//icon(use bootstrap5 .html link)