@use 'variables' as v;
@use 'mixins' as m;

.footer {
    background-color: v.$neutral-100;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: v.$spacing-5xl;
    padding-bottom: v.$spacing-5xl;
    gap: v.$spacing-l;

    @include m.mobile {
        flex-wrap: wrap;
    }
}

.footer__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: v.$spacing-xl;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    padding-top: v.$spacing-xl;
    gap: v.$spacing-xxs;
    border-top: 1px solid v.$neutral-300;
    width: 100%;
}

.footer p {
    text-align: center;
    color: v.$neutral-600;
    letter-spacing: 0.05em;
    line-height: v.$line-height-label;
    font-size: v.$label-sm;
    font-weight: v.$font-weight-regular;
}