@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {
    display: inline-flex;
    align-items: center;
    border-radius: v.$radius-sm;
    gap: v.$spacing-xs;
    font-weight: v.$font-weight-medium;
    font-size: v.$label-md;
    line-height: v.$line-height-label;
    letter-spacing: 5%;

    //size
    &--lg {
        padding: v.$spacing-s v.$spacing-l;
        min-height: 48px;
    }

    &--sm {
        padding: v.$spacing-xs v.$spacing-m;
        min-height: 40px;
    }

    //color
    &--primary {
        background-color: v.$primary-300;
        color: v.$neutral-900;

        &:hover {
            color: v.$primary-500;
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(v.$primary-300, 0.4);
            color: v.$primary-500;
        }

        &:disabled {
            opacity: 0.4;
        }
    }

    &--filled {
        background-color: v.$neutral-900;
        color: v.$neutral-0;

        &:hover {
            background-color: v.$neutral-700;
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(v.$neutral-700, 0.1);
            background-color: v.$neutral-700;
        }

        &:disabled {
            opacity: 0.4;
        }

    }

    &--neutral {
        border: 1px solid v.$neutral-900;
        color: v.$neutral-900;

        &:hover {
            background-color: v.$neutral-900;
            color: v.$neutral-0;
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(v.$neutral-700, 0.1);
            background-color: v.$neutral-900;
            color: v.$neutral-0;
        }

        &:disabled {
            opacity: 0.4;
        }
    }
}

.icon-btn {
    position: relative;
    border-radius: v.$radius-sm;
    background-color: v.$neutral-0;

    &--lg {
        padding: v.$spacing-s;
        gap: v.$spacing-xs;
        min-height: 48px;
        font-size: 24px;
    }

    &--sm {
        padding: v.$spacing-xs;
        gap: v.$spacing-xs;
        min-height: 40px;
        font-size: 20px;
    }

    &__badge {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: v.$label-xs;
        position: absolute;
        color: v.$text-primary;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background-color: v.$primary-300;
        border-radius: v.$radius-rounded;
    }

    &__badge--lg {
        transform: translate(0%, 0%);
    }

    &__badge--sm {
        transform: translate(60%, -10%);
    }

    &--transparent {
        border: 2px solid transparent;

        &:hover {
            color: v.$primary-400;
        }

        &:focus {
            background-color: v.$primary-100;
        }

        &:disabled {
            opacity: 0.4;
        }
    }

    &--outlined {
        border: 2px solid v.$neutral-200;

        &:hover {
            color: v.$primary-400;
            background-color: v.$primary-100;
            border-color: v.$primary-300;
        }

        &:focus {
            background-color: v.$primary-100;
            border-color: v.$primary-300;
        }

        &:disabled {
            opacity: 0.4;
        }
    }
}